{% extends 'base_htmls/base.html' %}
{% block main %}
<h1>Авторизация</h1>
<div>
    <div style="display: flex; justify-content: start; padding-left: 20px;">
        <p style="margin-right: 15px;">Введите Логин:</p>
        <input id="inp_login" type="text">
    </div>
    <br>
    <div style="display: flex; justify-content: start; padding-left: 20px;">
        <p style="margin-right: 15px;">Введите Пароль:</p>
        <input id="inp_password" type="text">
    </div>
</div>
<div class="main_container">
    <a href="/vote_link/" class="loginn_button">Войти</a>
</div>

{% endblock %}