{% extends 'base_htmls/base.html' %}

{% block main %}
<div class="main_block">
    <p class="main_block_text">
        Добро пожаловать на Simple Votings!
        Наш сайт направлен на проведение опросов разных типов и на разные темы.
        Любой зарегистрированный пользователь может отдать свой голос в пользу одного или нескольких вариантов, а также
        создать свой собственный опрос.
    </p>
</div>
<div class="main_container">
    <a href="/registr/" class="register_button">Зарегистрироваться</a>
    <a href="/login/" class="login_button">Войти</a>
</div>
{% endblock %}