{% extends 'base_htmls/base.html' %}

{% block main %}
<div class="main_block">
    Просто текст Просто текст Просто текст Просто текст 
    Просто текст Просто текст Просто текст Просто текст Прос
    то текст Просто текст Просто текст Просто текст Просто
     текст Просто текст Просто текст Просто текст Просто тек
     ст Просто текст Просто текст Просто текст Просто текст П
     росто текст Просто текст Просто текст Просто текст Просто 
     текст Просто текст Просто текст Просто текст Просто текст 
</div>
{% endblock %}