<h1>Текущая страница - {{ page_name }}</h1>
<ul>
    {% for menu_item in menu %}
    {% if menu_item != page_name %}
    <li>
        <a href="{{ menu_item.url }}" class="a_tag">{{ menu_item.text }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<!--=======-->
<!--<div class="menu_block">-->
<!--    <h1>Текущая страница - {{ page_name }}</h1>-->
<!--    <ul>-->
<!--        {% for menu_item in menu %}-->
<!--        {% if menu_item != page_name %}-->
<!--        <li>-->
<!--            <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->
<!--&gt;>>>>>> 489c9fbb6c806faa22f4f0918a39425e6d68f9c0-->
<!--<div class="info_block">-->
<!--    Здесь будет инфа по сайту-->
<!--</div>-->